<div class="col-md-12 m-3">
  <div class="">
    <div class="card">
      <div class="card-header">uploadImage</div>
      <div class="card-body d-block ">
        <div class="col-6">
          <label class="d-block">image</label>
          <input type="file" placeholder="uplade image">
        </div>
        <div class="col-6">
          <label class="d-block">file name</label>
          <input type="text" placeholder="name image">
        </div>
        <div class="col-6">
          <label class="d-block">file tilte</label>
          <input type="text" placeholder="name image">
        </div>
        <div class="col-2 my-2">
     <button class="btn btn-dark">upload</button>
        </div>
      </div>
    </div>
  </div>
</div>
